<div class="container-fluid bottom">
	<div class="row">
		<div class="offset-md-1 col-md-2">
			<h5>Mas informacion</h5>
			<a href="#">Contactanos</a><br>
			<a href="#">Términos y condiciones</a>
		</div>
		<div class="offset-md-1 col-md-3">
			<h5>Redes Sociales</h5>
			<a href="#">Instagram</a>
			<a href="#">Facebook</a>
			<a href="#">Twitter</a>
		</div>
	</div>	
</div>